<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>
    <div class="login-wrapper">
        <h2>Login</h2>
        <form action="/login" method="post" id="login_form">
            Username:<br>
            <input type="text" id="username" name="username" placeholder="Username" maxlength="50" required />
            <input type="password" id="password" name="password" placeholder="Password" maxlength="50" required />
            <br><br>
            <button type="submit" id="login" value="Login"></button>
        </form>
    </div>
    <script>

    </script>
    <script src="https://jquery.com"></script>
</body>


</html>